[Service]
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/prebuild.sh
RemainAfterExit=true
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

StandardOutput=truncate:/var/log/trigger.log
StandardError=truncate:/var/log/trigger.log

[Install]
WantedBy=multi-user.target